<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Machine Learning</title>
    <meta name="description" content="Free bootstrap template Atlas">
    <link rel="icon" href="../static/img/small.jpg" sizes="32x32" type="image/png">
    <!-- custom.css -->
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- AOS -->
    <link rel="stylesheet" href="../static/css/aos.css">
    <style>
        /* Three image containers (use 25% for four, and 50% for two, etc) */
        
        .column {
            float: left;
            width: 50%;
            padding: 5px;
        }
        /* Clear floats after image containers */
        
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>

<body>
    <!-- banner -->
    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url(../static/img/frontpage.png)">
        <div class="container text-center text-md-left">
            <header>
                <div class="row justify-content-between">
                    <div class="col-6">
                        <!-- <img src="../static/img/logo.png" alt="logo" /> -->
                    </div>
                    <div class="col-6 align-self-center text-right">
                        <h3>
                            <a href="/" style="color: blue;">HOME PAGE</a
                >
              </h3>
            </div>
          </div>
        </header>
            <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5">Machine Learning <br></h1>
        </div>
    </div>
    <div class="container my-10 py-3">
        <div class="container my-10 py-4">
            <h2 class="text-center font-weight-bold my-4">COVID-19 Prediction using Machine Learning</h2>
        </div>
        <div class="row">
            <div class="container col-md-12 col-md-8">
                <h5>Machine learning is an application of artificial intelligence (AI) that provides systems the ability to automatically learn and improve from experience without being explicitly programmed.<br></h5>
            </div><img src=" ../static/img/machine_learning.jpg " width=" 150px " class="mx-auto " />
            <div class="container col-md-12 col-md-8">
                <h4 class="text-left font-weight-bold my-4" style="color:blue">Here are the steps we have followed:</a>
                            </h4>
                            <h5 class="text-left font-weight-bold my-4">1. Loading the libraries</h5>
                            <h5 class="text-left font-weight-bold my-4">2. Loading data sets</h5>
                            <h5 class="text-left font-weight-bold my-4">3. EDA( Explorative Data Analysis): Data Munging </h5>
                            <p>* Maximize insight into a data set;
                                <br>* Uncover underlying structure;
                                <br>* Extract important variables;
                                <br>* Detect outliers and anomalies;
                                <br>* Test underlying assumptions;
                                <br>* Develop parsimonious models;
                                <br>* Determine optimal factor settings. </p>
                            <h5 class="text-left font-weight-bold my-4">4. Summary Table of each unique Country in the World</h5><img src=" ../static/img/cases_country.JPG " /><br>
                            <h5 class="text-left font-weight-bold my-4">5. Data Visualization(EDA): Using Matplotlib</h5>
                            <div class="row">
                                <div class="column">
                                    <img src=" ../static/img/Coronavirus_cases_Over_Time.JPG " style="width:100%" />
                                </div>
                                <div class="column">
                                    <img src=" ../static/img/Coronavirus_death_Over_Time.JPG " style="width:100%" />
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="column">
                                    <img src=" ../static/img/Coronavirus_recovery_Over_Time.JPG " style="width:100%" />
                                </div>
                                <div class="column">
                                    <img src=" ../static/img/Coronavirus_Active_Over_Time.JPG " style="width:100%" />
                                </div>
                            </div>
                            <h5 class="text-left font-weight-bold my-4 ">6. Prediction with Machine Learning:</h5>
                            <h6 class="text-left font-weight-bold my-4 ">a. Data Preprocessing(Reshaping for use in ML)</h6>
                            <h6 class="text-left font-weight-bold my-4 ">b. Split the Dataset in Training and Testing Datasets</h6>
                            <h5 class="text-left font-weight-bold my-4 ">7. Model and Training</h5>

                            <h6 style="color: blue;"> a. Support Vector Model(SVM-Instance-based Algorithms)</h6>

                            <p>
                                Support vector machine (SVM) is a supervised machine learning model that uses classification algorithms for two-group classification problems.
                            </p>
                            <img src=" ../static/img/svm.png " />

                            <br>
                            <h6 style="color: blue;">b. Bayesian ridge Regressions(NB)</h6>

                            <p>
                                In statistics, Bayesian linear regression is an approach to linear regression in which the statistical analysis is undertaken within the context of Bayesian inference.
                            </p>
                            <!-- <img src=" ../static/img/svm.png " /> -->
                            <br>
                            <h6 style=" color: blue" ;> c. Decision Tree(DT)</h6>
                            <p>
                                Decision tree learning is one of the predictive modelling approaches used in statistics, data mining and machine learning. It uses a decision tree (as a predictive model) to go from observations about an item (represented in the branches) to conclusions
                                about the item's target value (represented in the leaves).
                            </p>
                            <img src=" ../static/img/dt.png " width=700px />
                            <br>
                            <h4 class="text-left font-weight-bold my-4" style="color:blue"> RESULTS:</a>
                                <br>
                                <h5 class="text-left font-weight-bold my-4 ">a. Support vector machine (SVM) prediction:</h5>
                                <img src=" ../static/img/svm-pred.jpg " width=700px />
                                <br>
                                <h5 class="text-left font-weight-bold my-4 ">b. Bayesian ridge Regressions(NB) prediction:</h5>
                                <img src=" ../static/img/NB-pred.jpg " width=700px />

                                <br>
                                <h5 class="text-left font-weight-bold my-4 ">c. Decision Tree(DT) prediction:</h5>
                                <img src=" ../static/img/NB-pred.jpg " width=700px />

                    </div>
                </div>















                <!-- AOS -->
                <script src=" ../static/js/aos.js "></script>
                <script>
                    AOS.init({}

                    );
                </script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js "></script>
                <script type="text/javascript " src="../static/js/dataBar.js "></script>
                <script type="text/javascript " src="../static/js/plotsBarCoal.js "></script>
                <script src="{{ url_for( 'static', filename='js/app.js' ) }} "></script>
</body>

</html>